<p style="color: green"><%= notice %></p>

<% content_for :title, "Music classes" %>

<h1>Music classes</h1>

<div id="music_classes">
  <% @music_classes.each do |music_class| %>
    <%= render music_class %>
    <p>
      <%= link_to "Show this music class", music_class %>
    </p>
  <% end %>
</div>

<%= button_to "Sign Out", destroy_customer_session_path, method: :delete %>
